[user]
	name = nfox18212
	email = nfox18212@gmail.com
[pull]
	merge = true
	rebase = false
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
